{% extends 'base.html' %}

{% block title %}Search Parking{% endblock %}

{% block content %}

<div class="page-header my-2">
  <h3>Bookings</h3>
</div>

<div>
  {% for booking in bookings %}
  <div class="card mb-2">
    <div class="card-body">
      <h6>
        Parking: {{booking.parking_id.display_name}}
      </h6>
      <h5>
        Slot: {{booking.parkingslot_id.display_name}}
      </h5>
      <p>
        From: {{booking.start_time}}
      </p>
      <p>
        To: {{booking.end_time}}
      </p>
      <a href="{{ url_for('parkings_app.cancel', booking_id=booking.pk) }}" class="btn btn-danger">
        Cancel
      </a>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}