<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>{% block title %}{% endblock %} - Parking App</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="{% block head_description %}{% endblock %}">
  <meta name="author" content="{% block head_author %}{% endblock %}">

  <!-- Le styles -->
  <link href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
  <style>
    body {
      padding-top: 60px;
      /* 60px to make the container go all the way to the bottom of the topbar */
    }
  </style>

  <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
  <script src="{{ url_for('static', filename='bootstrap/js/html5shiv.js') }}"></script>
  <![endif]-->
  {% block extrahead %}{% endblock %}
</head>

<body>

  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="#">Parking App</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
      aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      {% if g.user %}
      <ul class="navbar-nav mr-auto">
        {% if not g.user.is_superuser %}
        <li class="nav-item active">
          <a class="nav-link" href="{{ url_for('parkings_app.search') }}">Search</a>
        </li>
        {% endif %}
        <li class="nav-item active">
          <a class="nav-link" href="{{ url_for('parkings_app.bookings') }}">Bookings</a>
        </li>
      </ul>
      {% endif %}
      <ul class="navbar-nav ml-auto pull-right">
        {% if g.user %}

        <li class="nav-item active dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            {{ g.user.name }}
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" disabled href="#">Bookings</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{{ url_for('accounts_app.logout') }}">Logout</a>
          </div>
        </li>
        {% else %}
        <li class="nav-item active">
          <a class="nav-link" href="{{ url_for('accounts_app.login') }}">
            Login
          </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="{{ url_for('accounts_app.signup') }}">
            Signup
          </a>
        </li>

        {% endif %}
      </ul>
    </div>
  </nav>


  <div class="container">
    {% with messages = get_flashed_messages(with_categories=true) %}
    <div id="messages">
      {% for category, message in messages %}
      <div class="alert alert-{{ category }}">
        <a class="close" data-dismiss="alert">&times;</a>
        <strong>{{ message }}</strong>
      </div>
      {% endfor %}
    </div>
    {% endwith %}

    {% block content %}{% endblock %}
  </div> <!-- /container -->

  <!-- Le javascript
    ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="{{ url_for('static', filename='js/jquery-1.10.1.min.js') }}"></script>
  <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
  {% block extrajs %}{% endblock %}
</body>

</html>